<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Anne's Liste</title>
<style>
body {font-family: sans-serif;
      background-color: #BFE0FF;
     /* border-right: 1px solid #697B8C; */
     /* margin-right: 38.2%*/;
     }
.liste {
    /*margin-top: 5%;
    margin-bottom: 5%;*/
    margin-left: 19.1%;
    margin-right: 9.55%;
  /*  border-left: 1px solid #99B3CC;
    border-right: 1px solid #99B3CC;*/
}
ul {
    list-style-type: none;
    /*background-color: #99B3CC; */
</style>
</head>
<body>
<div class="liste">
<h3>Dinge, die ich noch machen möchte, bevor ich nicht mehr in Berlin bin</h3>
<p>Diese Dinge möchte ich noch mal machen, bevor ich wegziehe. Würde mich sehr freuen, wenn ihr mitmacht :)</p>
<ul>
  <li>an die Krumme Lanke fahren</li>
  <li>ein Museum besuchen</li>
  <li>einen Burger essen gehen</li>
  <li>ins Kino gehen</li>
  <li>ins <a href="http://www.blumencafe-berlin.de">Blumencafé im Prenzlauer Berg</a> gehen</li>
</body>
</div>
</html>
